.custombtn{
    width: 95px;
    border-radius: 6px !important;
    box-shadow: 0px 3px 1px #888888 !important;
}
.customupdate, .customcreate, .customconfirm{
    background-color: #4CAF50 !important;
    border-color: #4CAF50 !important;
}
.customsearch{
    background-color: #4CAF50 !important;
    border-color: #4CAF50 !important;
}
.customgrey{
    background-color: #dedede;
    border-color: #dedede;
    color: #000000;
}